/* --- paramètre du site --- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
* {font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 16px;
    font-weight : bold; /* Pour mettre en gras*/
}

h2{
    font-size: 16px;
    font-weight: bold;
}

h3{
    font-size: 13px;
    font-weight: bold;
}

body{
    width: 100%;
    margin: auto;
    margin-top: 1px;
}

body section{
    width: 95%;
    margin: 0 auto;
}

/* --- PARTIE HEADER --- */
header {
     display:flex;
     width: auto;
     align-items: center; 
     margin-left: 30px;
     margin-right: 30px; 
}

/* --- Logo Reservia ---*/
.logoreservia {
    width: 70px;
}

#logo{
    width: 100%;
}

/* --- Menu ---*/
header nav {
    flex: 1;
    display: flex;
    justify-content : flex-end;
    font-size: 14px;   
}

header nav div{
    padding: 0px;
}

.menuunetdeux{
    color: black;
    font-style: normal;
}
 
#menu a{
    text-decoration: none;
}

#menuhebergements{
    padding-left: 20px;
    padding-right: 20px;
}

#menuactivites{
   padding-left: 20px;
   padding-right: 20px;  
}

#texteinscription{
    color: #0065fc;  
    font-weight: bold; 
    padding-left: 20px;
    padding-right: 20px;   
}

#menu a:hover /* --- Survol menu ---*/
{   border-top: 1px solid #0065fc;
    padding-top : 16px;
    color: #0065fc;
}

#menu :visited /* --- garder la couleur noire apres un clic */
{
    color: black;
}

/* --- FIN PARTIE HEADER --- */

/* --- SECTION RECHERCHE --- */
 #intro{
     display: flex;
     flex-direction: column;
     align-content: flex-start;          
}

#intro h1{
    font-size: 16px;
    margin-bottom: 0;
}

#intro p{
    font-size: 12px;
    margin-top: 0;
}
 /* --- ligne recherche --- */

#lignerecherche{
    display: flex;
    margin-top: 10px;    
}

#champsderecherche{
    font-weight: bold;
    color: black;
}

#boutonrechercher{
    background-color: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: 12px;
    height: 30px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

#boutonrechercher2{
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    /* height: 30px; */
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: -11px;
    display: none;
}

#conteneuriconmapmarker{
    display: flex;
    width: 20px;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    background-color: #f2f2f2;
    padding: 5px;
}

#iconmapmarker{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

#conteneurboutonrecherche{
    display: flex;    
}

/* ---Filtres ---*/

#lignefiltre {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    padding-right: 25px;     
}

#textefiltre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    width: 5%;
    height: 30px;
    margin-right: 25px;
}

#ensembleblocfiltre{
    display: flex;
    height: 30px;
    width: 100%;
}

.petitblocfiltre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px; 
    border:2px solid #f2f2f2;
    width: auto;
    height: 30px;
    margin-right: 25px;
}

.petitblocfiltre:hover{
    background-color: #0065fc;
}

.petitblocfiltre p{
    font-weight: bold;
    font-size: 12px;
    padding: 10px;    
}

.conteneuriconf{  
    display: flex;
    background-color: #deebff;
    border-radius: 50px;
    width: 34px;
    height: 31px;
    justify-content: center; 
    align-items: center;
    margin-left: -2px;
    transform: scale(1.05);
}  

.iconf{
    display: flex;
    align-items: center;
    border-radius: 50px; 
    color: #0065fc;
    font-size: 12px;       
}

#texteinfo{
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}

#texteinfo p{
    font-size: 12px;
}

#conteneuriconinfo{
    display: flex;  
    width: 20px;    
    justify-content: center;
    align-items: center;
    margin-right: 17px ;
}

#iconinfo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px 10px;
    font-size: 11px;
    border: 2px #f2f2f2 solid;
    color: #0065fc;
    border-radius: 50px;
}  

/* --- FIN SECTION RECHERCHE ---*/

/* --- SECTION HEBERGEMENT ---*/

#Hebergements{
    display: flex;
    height: auto;
}

/* --- Sous section Hébergement à Marseille --- */
#hebergementmarseille{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 30px;
    background-color: #f2f2f2;
    width: 70%;
    border-radius: 15px;    
}

#ensemblepetitsblocs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.petitbloch{
    width: calc(33% - 40px);
    background-color: white;
    margin-right:15px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 20px; 
    box-shadow: 4px 7px 23px 3px rgb(214, 212, 212);    
}

.petitbloch a{
    text-decoration: none;
    color: black;
}

.photoh{
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

.petitbloch p{
    font-size: 12px;
    margin: 0px;
}

.star{
    font-size: 10px;
    color: #0065fc;
}

.star .stargrise{
    font-size: 10px;
    color: #f2f2f2;
}

.descriptif{
    padding-left: 10px;    
}

.descriptif h3{
    margin: 0px;
}

#afficherplus{
    font-size: 13px;
    font-weight: bold;
}

/* --- Sous section Les plus populaires --- */

#populaires{
    flex-direction: column;
    width: 30% ;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 0px;    
}

#conteneuriconcroissance{
    width: auto;
    padding: 10px;
}

#iconcroissance{
    width: 100%;
}

#lignepop{
    display: flex;
    justify-content: space-between;
}

#ensemblepetitsblocspop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.petitblocpop{
    display: flex;
    width:95%;
    background-color: white;
    margin-bottom:30px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 4px 7px 23px 3px rgb(214, 212, 212);        
}

.petitblocpop a{
    display: flex;
    text-decoration: none;
    color: black;
}

.textepop h3{
    margin: 0px;
}

.petitblocpop p{
    font-size: 12px;
    margin: 0px;
}

.textepop{
    padding-left: 12px;
    width: 40%;
}

.textepop .star{
    margin-top: 40px;
}

.photopop{
    width: 40%;
    height:100px;
    border-radius: 10px 0 0 10px ;
    object-fit: cover;
}

/* --- FIN SECTION HEBERGEMENT --- */


/* --- SECTION ACTIVITE --- */

#Activites{
    margin-top: 40px;    
}

#elementun{
    margin-right: 30px;    
}

#elementdeux{ 
    margin-right: 30px;
}

#elementtrois{
    margin-right: 30px;
}

#activitedeux{
    margin-bottom: 30px;
}

#activitecinq{
    margin-bottom: 30px;
}

#photosactivites{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.petitblocactivite{    
    box-shadow: 4px 7px 23px 3px #f2f2f2;
    border-radius: 15px 15px 15px 15px;      
}

.petitblocactivite a{
    text-decoration: none;
    color: black;
    display: block;
}

.petitblocactivite h3{
     padding-left: 10px;
     padding-bottom: 10px;
     font-weight: bold;     
}

.photosunetquatre{
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0 0; 
    object-fit: cover; 
}

.photosdeuxetsix{
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.photostroisetcinq{
    width: 100%;
    height: 70px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

 /* FIN SECTION ACTIVITE ---*/
 

 /* --- PARTIE FOOTER --- */ 

#footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;    
}

#footer a{
    text-decoration: none;
    color: black;
}

h4{
 font-weight: bold;
}

.petitblocfooter{
   width: 33%;
   margin-left: 10px;
   font-size: 12px;   
}

 /* --- FIN PARTIE FOOTER --- */

 /* -- DEBUT MEDIA QUERIES --*/

 @media screen and (max-width: 800px) {

    
body section{
    width: 100%;
}
#recherche{
    width: 95%;
}

h2{
    font-size: 24px;
    margin-top: 0px;
}

h3{
    font-size: 15px;
}

/* MENU */

.logoreservia{
    padding-left: 15px;
    width: 100px;
}

.menuunetdeux{
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 30px;
}

#menu .menuunetdeux a:hover{
    color: #0065fc;
    border-top: none;
}

#menu .menuunetdeux:hover{
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
}

#inscription{
    position: absolute;
    top : 50px;
    right: 10px;
    font-size: 17px;
}

#menuhebergements{
    font-size: 16px;
    font-weight: bold;
}

#menuactivites{
    font-size: 16px;
    font-weight: bold;
}

header{
    width: 100%;
    align-items: flex-start; 
    margin: 0 auto;
    flex-direction: column;
    margin-top: 35px;
}
header nav{
    flex-wrap: wrap;
    width: 100%;
}

#intro h1{
    font-size: 23px;
}

#intro p{
    font-size: 17px;
    margin-top: 10px;
}

#boutonrechercher{
    display: none;
}

#boutonrechercher2{
    display: block;
    font-size: 19px;
}

#conteneuriconmapmarker{
    width: 30px;   
}

#lignerecherche {
display: flex;
margin-top: 10px;
width: 100%;
height: 40px;
}

#form{
    flex: 1;
}

#conteneurboutonrecherche {
    height: 40px;
}

#champsderecherche{
    width: 100%;
}

#iconmapmarker{
    font-size: 16px;
}

#lignefiltre{
   flex-direction: column;
   align-items: flex-start;
   width: 100%; 
   height: auto; 
   box-sizing: border-box; 
}

#textefiltre {
    justify-content: flex-start;
}

#ensembleblocfiltre{
    flex-wrap: wrap;
    height: auto;       
 }

.petitblocfiltre{
    justify-content: flex-start;
    font-size: 18px;
    width: auto;   
    margin: 5px;
 }

.petitblocfiltre p{
     font-size: 16px;
 }

 #texteinfo p{
    font-size: 17px;
    margin-bottom: 0px;
}

#conteneuriconinfo{
    display: flex;  
    width: 25px;    
    align-items: flex-start;
    margin-top: 1em;
}


/* HERBERGEMENT */

#Hebergements{
    flex-direction: column;    
}

#hebergementmarseille{
    margin-right: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 15px;  
    border-radius: 0;
    box-sizing:border-box; 
}

#ensemblepetitsblocs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;           
}

.petitbloch{
    width: 29%;
    box-shadow: 4px 7px 23px 3px #f2f2f2;
    margin-bottom: 15px;    
}

.petitbloch p{
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 7px;    
}

.photoh{
    height: 115px;
}

.descriptif{
    margin: 3px;
}

#afficherplus{
    width: auto;
    font-size: 20px;
}

#populaires{
    width: 100%;
    padding: 15px;
    border-radius: 0;
    box-sizing:border-box;
}

#conteneuriconcroissance {
    font-size: 20px;
}

#ensemblepetitsblocspop{
    display: flex;
    flex-direction: row;
}

.petitblocpop{
    margin: 5px;
    width: 31%;
}

.petitblocpop p{
    padding-top: 5px;
}

.photopop{
    height: 145px;
}

.textepop{
    padding-top: 12px;
    width: 100%;
}

.textepop .star{
    margin-top: 60px;
}

#starpophote{
    margin-top: 43px;
}

/* ACTIVITE */

#Activites{
    width: 90%;
}
.petitblocactivite{
    margin-top: 20px;
    width: 50%;
    margin-right: 12px;
}
#elementun{
    margin-right: 0px;   
    width: 50%; 
    order: 1;
}

#elementun .petitblocactivite{
   width: 98%; 
}

#elementdeux{ 
    margin-right: 0px;
    display: flex;
    order: 3;    
}

#elementtrois{
    margin-right: 0px;
    width: 49%;
    order: 2;
}

#elementtrois .petitblocactivite{
    width : 99%;
    margin-right: 0px;
    margin-left: -2px;
}

#elementquatre{
    display: flex;
    order: 4;
}

#activitedeux{
    margin-bottom: 0px;
}

#activitecinq{
    margin-bottom: 0px;
}

#photosactivites{
    width: 100%;
    flex-wrap: wrap;
}

.photosunetquatre{
    width: 100%;
    height: 150px;       
}
    
.photosdeuxetsix{
    width: 100%;
    height: 150px;      
}
    
.photostroisetcinq{
    width: 100%;
    height: 150px;       
}
    
/* FOOTER */
#footer{
    width: calc(100% - 20px);    
}

.petitblocfooter{
    width: calc(100% - 10px);
    font-size: 14px;
}

}
/* MEDIA QUERIES 500PX */

@media screen and (max-width: 500px) {

body section{
    width: 100%;
}
#recherche{
    width: 95%;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 15px;
}

/* MENU */

.logoreservia{
    padding-left: 15px;
    width: 100px;
}

.menuunetdeux{
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 30px;
}

#menu .menuunetdeux a:hover{
    color: #0065fc;
    border-top: none;
}

#menu .menuunetdeux:hover{
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
}

#inscription{
    position: absolute;
    top : 50px;
    right: 10px;
    font-size: 17px;
}

#menuhebergements{
    font-size: 16px;
    font-weight: bold;
}

#menuactivites{
    font-size: 16px;
    font-weight: bold;
}

header{
    width: 100%;
    align-items: flex-start; 
    margin: 0 auto;
    flex-direction: column;
    margin-top: 35px;
}
header nav{
    flex-wrap: wrap;
    width: 100%;
}

#intro h1{
    font-size: 23px;
}

#intro p{
    font-size: 17px;
    margin-top: 10px;
}

#lignerecherche {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

#form{
    flex: 1
}

#conteneurboutonrecherche {
    display: flex;
    height: 40px;
}

#champsderecherche {
    width: 90%;
}

#boutonrechercher{
    display: none;
}

#boutonrechercher2{
    display: block;
    font-size: 19px;
}

#conteneuriconmapmarker{
    width: 30px;
    border-radius: 10px 0 0 10px;
}

#iconmapmarker{
    font-size: 16px;
}

#lignefiltre{
   flex-direction: column;
   align-items: flex-start;
   width: 100%; 
   height: auto; 
   box-sizing: border-box; 
}

#textefiltre {
    justify-content: flex-start;
}

#ensembleblocfiltre{
    flex-wrap: wrap;
    height: auto;       
 }

.petitblocfiltre{
    justify-content: flex-start;
    font-size: 18px;
    width: auto;   
    margin: 5px;
 }

.petitblocfiltre p{
     font-size: 16px;
 }

 #texteinfo p{
    font-size: 17px;
}

#conteneuriconinfo{
    display: flex;  
    width: 25px;    
    align-items: flex-start;
    margin-top: 1em;
}


/* HERBERGEMENT */

#Hebergements{
    flex-direction: column;    
}

#hebergementmarseille{
    order: 2;
    margin-top: 30px;
    margin-right: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 15px;  
    border-radius: 0;
    box-sizing:border-box; 
}

#ensemblepetitsblocs{
    flex-direction: column;            
}

.petitbloch{
    width: 95%;
    box-shadow: 4px 7px 23px 3px #f2f2f2;
    margin-bottom: 15px;    
}

.petitbloch p{
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 7px;    
}

.photoh{
    height: 115px;
}

.descriptif{
    margin: 3px;
}

#afficherplus{
    width: auto;
    font-size: 20px;
}

#populaires{
    order: 1;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    box-sizing:border-box;
}

#ensemblepetitsblocspop {
    flex-direction: column;
}
.petitblocpop{
    margin-bottom: 15px;
    width: 95%;
}

.petitblocpop p{
    padding-top: 5px;
}

.photopop{
    height: 145px;
}

.textepop{
    padding-top: 12px;
    width: 50%;
}

.textepop .star{
    margin-top: 60px;
}

/* ACTIVITE */

#Activites{
    width: 90%;
    margin-top: 0;
}
.petitblocactivite{
    margin-top: 20px;
    width: 100%;
}

#elementun{
    margin-right: 0px; 
    width: 100%;
    order: 1;  
   }


#elementdeux{ 
    margin-right: 0px;
    flex-direction: column;
    order: 2;
}

#elementtrois{
    margin-right: 0px;
    width: 100%;
    order: 3;
    
}

#elementquatre{ 
    margin-right: 0px;
    flex-direction: column;
    order: 4;
}

#activitedeux{
    margin-bottom: 0px;
    margin-top: 5px;
}

#activitecinq{
    margin-bottom: 0px;
    margin-top: 5px;
}

#photosactivites{
    flex-direction: column;    
    width: 100%;
}

.photosunetquatre{
    width: 100%;
    height: 150px;       
}
    
.photosdeuxetsix{
    width: 100%;
    height: 150px;      
}
    
.photostroisetcinq{
    width: 100%;
    height: 150px;       
}
    
/* FOOTER */
#footer{
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 20px);    
}

.petitblocfooter{
    width: calc(100% - 10px);
    font-size: 14px;
}

}
